body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}

 main {
    text-align: center;
    margin: 20px;
}

h1 {
    color: #ff6347
}

section {
    margin: 30px 0;
} 

h2 {
    color: #ff4500;
}

a{
    color: #1e90ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border-radius: 8px;
    margin: 10px 0;
    max-width: 100%;
}

footer {
    background-color: #ff6347; /* Tomato background */
    color: white;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
}

form {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: none;
    margin: 10px 0;
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
}

label {
    display: inline-block;
    margin-right: 10px;
}

input[type="text"] {
    width: 70%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    background-color: #ff6347;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff4500;
}


ul {
    list-style-type: none;
    padding-left: 0; /* Remove default left padding */
}

ol {
    list-style-type: none;
    padding-left: 0; /* Remove default left padding */
}
  

li {
    padding-left: 10px;
    margin-bottom: 10px;
}